.ql-editor {
  min-height: 80vh;
}

.ql-toolbar {
  display: flex;
  justify-content: center;
  position: fixed;
  top: 54px;
  width: 100%;
  border: none !important;
  border-bottom: 1px solid #e5e7eb !important;
  background: white;
  z-index: 100;
}

.ql-editor {
  max-width: 1048px;
  margin: 0 auto;
  margin-top: 240px;
  margin-bottom: 100px;
  position: relative;
}

.ql-editor:focus {
  background: #f9fafb;
}

.quill > .ql-container > .ql-editor.ql-blank::before {
  max-width: 1048px;
  margin: 0 auto;
  font-size: 18px;
  color: rgba(0, 0, 0, 0.3);
}

.ql-container {
  font-size: 18px !important;
}

pre {
  font-size: 14px !important;
  overflow-wrap: break-word;
  background-color: #eff5fb;
  font-size: 0.875rem;
  padding: 1rem;
  border-radius: 8px;
  line-height: 1.5;
  overflow-x: auto;
  letter-spacing: 0px;
  width: 100%;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
